:root {
    --colour-dark-magenta:hsl(300, 43%, 22%);
    --colour-soft-pink: hsl(333, 80%, 67%);
    --colour-dark-gray-magenta: hsl(303, 10%, 53%);
    --colour-light-gray-magenta: hsl(300, 24%, 96%);
    --colour-transparent-white: rgba(255, 255, 255, 0.151);
    --colour-white: hsl(0, 0%, 100%);
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
    --spacer-LR: 2rem;
    --spacer-TOP: 10rem;
}

* { 
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

/* Centering starts */
html, body {
    height: 100%;
}

body{
    display: flex;
    align-items: center;
}

main {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
    background-color: var(--colour-transparent-white); 
}

/* Centering ends */

/* Desktop background starts */

.bg-desktop {
    position: absolute;
    z-index: -2;
}

.bg-mobile {
    position: absolute;
    z-index: -2;
    display: none;    
}

.bg-top {
    top: 0;
    left: 0;
}

.bg-bottom {
    bottom: 0;
    right: 0;
}

/* Desktop background ends */

/* Marketing layout start */

.marketing-hook {
    width: 30rem;
    align-self: flex-start;
    margin-right: 10rem;
    margin-left: var(--spacer-LR);
    margin-top: var(--spacer-TOP);    
}

.marketing-hook h1 {
    color: var(--colour-dark-magenta);
    font-weight: var(--fw-700);
    font-size: 2.8rem;
    padding-bottom: 2rem;    
}

.marketing-hook p {
    color: var(--colour-dark-gray-magenta);
    font-size: 1rem;
    line-height: 1.5;
}

/* Marketing layout ends */

/* Review layout start */

.review-box {
    display: flex;
    margin-right: var(--spacer-LR);
    background-color: var(--colour-light-gray-magenta);
    padding: 1.3rem 1.2rem;
    width: 26rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.review-box-1 {
    margin-top: var(--spacer-TOP);
}

.review-box-2 {
    margin-left: 4rem;
}

.review-box-3 {
    margin-left: 8rem;
}

.stars-imgs {
    margin-right: 2rem;
    width: 101px;
    height: 15px;
    background-image: url(/images/icon-star.svg) ;
    background-repeat: space;
}

.rated {
    color: var(--colour-dark-magenta);
    font-weight: var(--fw-700);
}

/* Review layout ends */

/* Costumers feedback layout starts  */

.costumers-hook {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 2rem var(--spacer-LR);
}

.costumer-feedback {
    display: flex;
    flex-wrap: wrap;
    color: var(--colour-white);
    background-color: var(--colour-dark-magenta);
    width: 24rem;
    height: fit-content;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 10px;
    padding: 3rem;
}

.costumer-feedback img {
    border-radius: 100%;   
}

.costumer-feedback img {
    height: 3rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 1rem;
    font-size: 13px;
    font-weight: var(--fw-500);
}

.costumer-name {
    margin-bottom: 1rem;
}
.costumer-status {
    color: var(--colour-soft-pink);   
}

.quote {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 1rem;
}
 /* Costumers feedback layout ends */

 .attribution {
     margin-top: 1rem;
     font-size: 0.8rem;
 }

 @media (max-width:950px ) {

    html, body {
        height: auto;
    }

    main {
        width: 100%;
    }

    .bg-mobile {
        display: inline-flex;
        max-width: 100%;
    }
    
    .bg-desktop {
        display: none;
    }

    .marketing-hook {
        margin: 8rem auto 0 auto;
        padding: 0 2rem 0 2rem;
    }

    .marketing-hook h1 {
        font-size: 2.4rem;
        text-align: center;
    }

    .marketing-hook p {
        text-align: center;
    }

    .review-hook {
        margin-top: 2rem;
        width: 100%;
    }
    
    .review-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1.5rem auto 1.5rem auto;
        max-width: 90%;   
    }

    .rated {
        padding-top: 0.8rem;
    }
    
    .costumers-hook {
        flex-direction: column;
    }
    
    .costumer-feedback {
        margin: 0.5rem auto 0.5rem auto;   
        max-width: 90%;
    }   
}









