:root {
  /* Colours */

  --clr-primary-01: hsl(0, 78%, 62%);
  --clr-primary-02: hsl(180, 62%, 55%);
  --clr-primary-03: hsl(34, 97%, 64%);
  --clr-primary-04: hsl(212, 86%, 64%);

  --clr-neutral-01: hsl(234, 12%, 34%);
  --clr-neutral-02: hsl(229, 6%, 66%);
  --clr-neutral-03: hsl(0, 0%, 98%);

  /* Typography */

  --FW-200: 200;
  --FW-400: 400;
  --FW-600: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-neutral-03);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* Header */

header {
  margin: 3rem auto 1rem auto;
  padding: 1.5rem;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: var(--FW-200);
  color: var(--clr-neutral-01);
}

.h1-strong {
  font-weight: var(--FW-600);
}

.h1-subtext {
  color: var(--clr-neutral-02);
  text-align: center;
}

/* Cards */

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.desktop-column-wrapper {
  width: 100%;
}

.card {
  width: 82%;
  max-width: 28rem;
  margin: 0 auto 2rem auto;
  padding: 1.4rem 2rem;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.151);
  border-top: 0.3rem solid;
}

.card-supervisor {
  border-color: var(--clr-primary-02);
}

.card-builder {
  border-color: var(--clr-primary-01);
}

.card-karma {
  border-color: var(--clr-primary-03);
}

.card-calculator {
  border-color: var(--clr-primary-04);
}

.card h3 {
  color: var(--clr-neutral-01);
  margin: 0px;
  padding: 0px;
}

.card p {
  margin: 0.5rem 0;
  padding: 0px;
  font-size: 0.9rem;
  color: var(--clr-neutral-02);
  font-weight: var(--FW-400);
}

.card-image-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 3rem auto 1rem auto;
}

.attribution,
.attribution a {
  color: var(--clr-neutral-01);
}

@media screen and (min-width: 900px) {
  header {
    width: 35%;
  }

  h1 {
    font-size: 2rem;
  }

  .h1-subtext {
    font-size: 1rem;
  }

  main {
    flex-flow: row;
    justify-content: center;
  }

  .desktop-column-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 33.33%;
  }
}
